<h1>Search</h1>
<h5>Your search results for <b><%= @posts.search.text %></b> returned:</h5>
<!-- for search results, try to fit Post.all(:order => "created_at DESC")
    Alt (?):
    post = Post.all(:order => "created_at DESC")-->
<% @posts.search.each do |post| %>
  <div class="results">
    <h3><%= post.title %></h3>
    <p>Written by <%= post.user.email %> on <%= post.created_at %></p>
    <!-- <p><%= post.body %></p> -->
    <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
  </div>
<% end %>
