<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<hr>
<!-- <% if user_signed_in? && current_user.id === @post.user_id %> -->
<% if current_user.id === @post.user_id %>
  <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default' %>
  <%= link_to "Delete", post_path(@post),
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        :class => 'btn btn-danger' %>
<!-- <%- end -%> -->
<%- elsif current_user.favorite_posts.exists?(id: @post.id) -%>
<%= link_to "Add to favorites", favorite_posts_path(project_id: @project), method: :post, :class => 'btn btn-primary' %>
<%- else -%>
<%= link_to "Remove from favorites", favorite_post_path(@post), method: :delete, :class => 'btn btn-warning' %>
<%- end -%>
