<!DOCTYPE html>
<html>
  <head>
    <title>RachelRingmdCc2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">RingMD blog</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav nav">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
        <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
        </p>
        <ul class="navbar-nav nav navbar-right">
          <li><%= link_to "Create Post", new_post_path %></li>
          <li><%= link_to "Favorite Posts", favorite_posts_path %></li>
        </ul>

      </div>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div>
      <%= form_for @post do |f| %>
        <div> <%= f.search_field :search_by_post_content, params[:query], placeholder: 'Search title, author or content' %> </div>
        <%= f.submit 'Search' %>
      <% end %>
      <!-- <%= form_tag posts_path, :method 'get' do %> -->
        <!-- <div> <%= text_field_tag :search, params[:search], placeholder: 'Search title, author or content' %> </div> -->
        <!-- <%= submit_tag 'Search' %> -->
      <!-- <% end %> -->
  <!--   </div> -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
